* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(214, 210, 210);
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  background-color: black;
  border-bottom: 2px solid rgb(255, 255, 255);

}


.logo h1 {
    font-size: 24px;
    color: rgb(255, 253, 253);
}


.header2 {
    display: flex;
    gap: 20px;
    align-items: center;

}
.boxer{
text-align: left;
display: none;
color: rgb(0, 0, 0);   
}


.newbox{
    display: flex;
    gap: 50px;

}
.newbox a{
    color:  rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.newbox a{
    color: rgb(255, 255, 255);

}
.newbox a:hover{
    color: rgb(255, 0, 0);
    transition: 0.3s ease-in-out;
}

i{
    color: rgb(255, 255, 255);
}
i:hover{
    color: rgb(255, 8, 78);
    transition: 0.3s ease-in-out;
    
    
}
.header3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(500px);
   height: 100vh;
   padding: 10px;
   background-image: url(ring1.jpg);
   background-color: rgba(0, 0, 0, 0.3);
   background-blend-mode: darken;
   background-position: center;
   background-size: cover;
   gap: 10px;
   border: 1px solid black;
}
.box2{
 
   

   
}
.next{
   
    min-height: 100px;
}
.circle{


    width: 100%;
    height: 600px;
overflow: hidden;
background-image: url(emm.jpg);
background-size: cover;
background-position: center;
background-blend-mode: multiply;

}
.two-box{
    padding-top: 2rem;
    padding: 50px;
    
}
button{
    color: rgb(255, 253, 253);
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-family: sans-serif;
  
  
}
button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    color: rgb(0, 0, 0);

}



.one-box{
  justify-content: center;
  align-items: center;
  /* padding-top: 10%; */
  display: flex;
  flex-direction: column;

}
.hold-text{

text-align: center;
padding-top: 5%;
/* height: 100%; */
width: 100%;

}


.fa-facebook{
    color: rgb(250, 250, 255);
    font-size: 40px; 

    /* line-height: 50px; */

}
.fa-facebook:hover{
    color: rgb(0, 54, 248);

}
.fa-linkedin{
    color: rgb(255, 255, 255);
    font-size: 40px; 
padding-left: 10px;
    /* line-height: 50px; */
}
.fa-linkedin:hover{
    color: blue;

}
.fa-instagram{
   
   color: white;
    font-size: 40px; 
    padding-left: 10px;
    /* line-height: 50px; */
}
.fa-instagram:hover{
    color: linear-gradient(45deg, #fccc63, #f74d53, #d92d7a, #8a39c2);

}
.fa-whatsapp{
   
    color: white;
     font-size: 40px; 
     padding-left: 10px;
     /* line-height: 50px; */
 }
 .fa-whatsapp:hover{
     color: greenyellow
 
 }

.adjust{
    font-size: 30px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding: 10px;
    color: white;
 font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;

  
}



@media (max-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 10px 20px;
    }

   
  

    .boxer i {
        font-size: 24px;
     
    }
    .newbox{
        display: none;
    }
    .boxer{
        display: block;
      
    }
    .header3{
        grid-template-columns: repeat(1, 1fr);
        height: 200vh;

    }
    .box2{
        width: 100%;
        padding: 40px;
    }
    .circle{
      width: 100%;
      height: 100%;
      

    }
    .two-box{
        padding-top: 20px;
        height: 700px;
 }
    
  
}
@media (max-width: 500px) {
    .boxer{
        display: block;
    }
    .header3{
        grid-template-columns: repeat(1, 1fr);
      
       
    }
    .box2{
        width: 100%;
        /* padding: 40px; */
    }
    .circle{
   
        height: 500px;
        margin-top: -100px;
      }
      .header3{
   height: 200vh;
      }  
      .one-box{
        width: 100%;
        height: 100%;
      }
      .two-box{
        height: 300px;
      }
      
      .hold-text{
        padding: 20px;
      }
}